USER_DB_NAME=shoplite_users
USER_DB_USER=shoplite_user
USER_DB_PASSWORD=change-me-users

ORDER_DB_NAME=shoplite_orders
ORDER_DB_USER=shoplite_order
ORDER_DB_PASSWORD=change-me-orders

MONGO_DB_NAME=shoplite_catalog
MONGO_USER=shoplite_catalog
MONGO_PASSWORD=change-me-catalog

REDIS_PASSWORD=change-me-notifications

RABBITMQ_USER=shoplite
RABBITMQ_PASSWORD=change-me-rabbitmq

